 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 94px;
}

.u-section-1 .u-text-1 {
  font-family: Tajawal;
  font-weight: 700;
  margin: 21px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 779px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 649px;
  background-image: url("images/construction-worker-man-people-956496.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 650px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 30px 20px;
}

.u-section-2 .u-text-1 {
  font-family: Tajawal;
  font-weight: 700;
  margin: 20px 0 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 439px;
  height: 1px;
  margin: 23px 0 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-family: Tajawal;
  margin: 23px 0 0;
}

.u-section-2 .u-text-3 {
  font-family: Tajawal;
  margin: 23px 0 0;
}

.u-section-2 .u-text-4 {
  font-family: Tajawal;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  padding-left: 56px;
  padding-right: 56px;
  font-weight: 700;
  font-family: Tajawal;
  border-style: solid;
  transition-duration: 0.5s;
  margin: 23px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 535px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 536px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    min-height: 410px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-shape-1 {
    width: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-2 .u-image-1 {
    min-height: 615px;
    order: 1;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-shape-1 {
    width: 488px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-2 .u-image-1 {
    min-height: 387px;
  }

  .u-section-2 .u-shape-1 {
    width: 330px;
  }
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/firefighter-occupations-leadership-920032.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 272px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-family: Tajawal;
  font-weight: 700;
  margin: 65px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 32px 0 60px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 224px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 129px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 81px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 726px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-family: Tajawal;
  margin: 114px auto 0;
}

.u-section-4 .u-shape-1 {
  width: 799px;
  height: 1px;
  margin: 20px auto 0 156px;
}

.u-section-4 .u-accordion-1 {
  width: 800px;
  margin: 45px auto 39px 155px;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-family: Tajawal;
  letter-spacing: 0px;
  padding: 20px 30px;
}

.u-section-4 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 319px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 28px;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  font-family: Tajawal;
  margin: 0;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-family: Tajawal;
  letter-spacing: 0px;
  padding: 20px 30px;
}

.u-section-4 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 155px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  line-height: 1.8;
  font-family: Tajawal;
  margin: 0;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  font-family: Tajawal;
  letter-spacing: 0px;
  padding: 20px 30px;
}

.u-section-4 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 155px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-family: Tajawal;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    margin-left: auto;
  }

  .u-section-4 .u-accordion-1 {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    width: 488px;
  }

  .u-section-4 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-accordion-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-4 .u-accordion-1 {
    width: 340px;
  }
}